html{
    margin: 0;
    padding: 0;
}
body{
    background: #0c164f;
    font-family: 'Varela Round', sans-serif;
}

h1{
    color: #fff;
}

.done_button{
    background-color: #4CAF50; /* Green */
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 35px;
    font-family: inherit;
    position:absolute;
    right: 47%;
    top: 89%;
    cursor:pointer;
    transition-duration: 0.4s;
  }

  .done_button:hover{
      background-color: #28702b;
      cursor:pointer;
      -webkit-transform: translateY(-2px);
      transform: translateY(-2px);
  }


.picture_selection{
    float:left;
    display: inline;
    position:relative;
    width: 30%;
    padding: 1vw;
}

.rocket_image{
    position: absolute;
    left: 0vw;
    top: 0vw;
    display: inline;
    position:relative;
    width: 30%;
    height: auto;
}

.rocket_customization{
    position: absolute;
    top: 1vw;
    right: 0.5vw;
    display: inline;
    padding: 1vw;
    width: 30%;
    height: auto;
}

.profile_picture{
    max-width: 10vw;
    height: auto;
    padding: 0.5vw;
    cursor: pointer;
}

.colorsquare{
    max-width: 10vw;
    height: auto;
    position: relative; 
    padding: 0.5vw;
    cursor: pointer;
}

.image_column {
    display: flex;
    flex-wrap: wrap;
  }
  
.image_row {
    flex: 50%;
  }